@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
  ### Colors ##
  This are the colors used throught this project. 
*/

:root {
  /* Primary */
  --v-dark-blue: hsl(233, 47%, 7%); /* very dark blue (main background) */
  --dark-d-blue: hsl(244, 38%, 16%); /* dark desaturated blue (card background)*/
  --soft-violet: hsl(277, 64%, 61%); /* accent */

  /* Neutral */
  --white: hsl(0, 0%, 100%); /* main heading and stats*/
  --st-white: hsla(0, 0%, 100%, 0.75); /* skightly transparent white (main paragraph)*/
  --stt-white: hsla(0, 0%, 100%, 0.6); /* slightly transparent white (stat headings) */
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default styles */
body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--v-dark-blue);
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

p {
  color: var(--st-white);
}

img {
  width: 100%;
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  padding: 4rem 2rem;
}

/* Card */
.card {
  background: var(--dark-d-blue);
}


/* Card Stats */
.card-stats {
  padding: 2rem;
  text-align: center;
}

/* Stats Container Text */
.stats-title span {
  color: var(--soft-violet);
}

.stats p {
  color: var(--stt-white);
}